.smartyAddress__base_default {
    --smartyAddress__wrapperPosition: relative;
    --smartyAddress__hiddenDisplay: none;
    --smartyAddress__dropdownPosition: absolute;
    --smartyAddress__dropdownWidth: 100%;
    --smartyAddress__cursorStyle: pointer;
    --smartyAddress__dropdownBoxSizing: border-box;
    --smartyAddress__dropdownZIndex: 1000;
    --smartyAddress__dropdownFontWeight: normal;
    --smartyAddress__dropdownOverflowY: auto;
    --smartyAddress__suggestionDisplay: flex;
    --smartyAddress__suggestionJustifyContent: space-between;
    --smartyAddress__poweredByDisplay: flex;
    --smartyAddress__poweredByAlignItems: center;
    --smartyAddress__poweredByJustifyContent: flex-end;
}

