@import "base.css";
@import "colors.css";
@import "spacing.css";
/* TODO: Pull out all non-variable values and set them in base.css */

.smartyAddress__suggestionsWrapperElement {
    position: var(--smartyAddress__wrapperPosition);
    /* TODO: Need to automatically calculate this value based on the margin-bottom of the input */
    top: -5px;
    z-index: var(--smartyAddress__dropdownZIndex);
    font-weight: var(--smartyAddress__dropdownFontWeight);
}

.smartyAddress__hidden {
    display: var(--smartyAddress__hiddenDisplay);
}

.smartyAddress__dropdownElement {
    position: var(--smartyAddress__dropdownPosition);
    box-sizing: var(--smartyAddress__DropdownBoxSizing);
    width: var(--smartyAddress__dropdownWidth);
    /*TODO: Make box-shadow customizable based on the theme or dynamic website colors */
    box-shadow: var(--smartyAddress__largeShadow);
    color: var(--smartyAddress__textBasePrimaryColor);
    background-color: var(--smartyAddress__surfaceBasePrimaryColor);
}

.smartyAddress__suggestionsElement {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 500px;
    /*TODO: Fix the scrollbar styling */
    scrollbar-color: var(--smartyAddress__surfaceBasePrimaryInverseColor) var(--smartyAddress__surfaceBasePrimaryColor);
    scrollbar-width: thin;
}

.smartyAddress__suggestion {
    /* TODO: Handle addresses that are wider than the dropdown */
    /* TODO: Handle long addresses with secondaries (currently causes "entries" text to wrap onto next line). To reproduce, type "542" into the address field */
    cursor: var(--smartyAddress__cursorStyle);
    padding: var(--smartyAddress__spacingMedium3);
    color: var(--smartyAddress__textBasePrimaryColor);
    background-color: var(--smartyAddress__surfaceBasePrimaryColor);
    display: flex;
    justify-content: space-between;
}

.smartyAddress__suggestion:hover,
.smartyAddress__suggestion[aria-selected="true"] {
    background-color: color-mix(in srgb, var(--smartyAddress__surfaceBasePrimaryColor)  var(--smartyAddress__colorContrastMedium1), var(--smartyAddress__surfaceInverseExtremeColor));
}

.smartyAddress__suggestionEntries {
    /* TODO: Figure out fallback colors (or we could just make sure we never run into that scenario) */
    color: var(--smartyAddress__textAccentColor, #0066ff);
}

.smartyAddress__poweredBy {
    color: var(--smartyAddress__textBaseSecondaryColor);
    margin: 0;
    padding: var(--smartyAddress__spacingMedium3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .75em;
    gap: 8px;
    text-transform: uppercase;
}

.smartyAddress__smartyLogoDark,
.smartyAddress__smartyLogoLight {
    height: 2.5em;
}

.smartyAddress__smartyLogoDark {
    display: var(--smartyAddress__logoDarkDisplay);
}

.smartyAddress__smartyLogoLight {
    display: var(--smartyAddress__logoLightDisplay);
}