.smartyAddress__color_dark {
    /*TODO: update theme with the correct colors */
    --smartyAddress__text-base-primary-color: #eee;
    --smartyAddress__text-accent-color: #0066ff;

    --smartyAddress__surface-base-primary-color: #111;
    --smartyAddress__surface-base-secondary-color: #333;
    --smartyAddress__stroke-base-primary-color: #666;
    --smartyAddress__color-mix-percentage: 85%;
    --smartyAddress__surface-inverse-extreme-color: #fff;
}

.smartyAddress__color_light {
    /*TODO: update theme with the correct colors */
    --smartyAddress__text-base-primary-color: #333;
    --smartyAddress__text-base-secondary-color: #777;
    --smartyAddress__text-accent-color: #0066ff;

    --smartyAddress__surface-base-primary-color: #fcfcfc;
    --smartyAddress__surface-base-secondary-color: #f3f3f3;

    --smartyAddress__stroke-base-primary-color: #ccc;
    --smartyAddress__color-mix-percentage: 92%;
    --smartyAddress__surface-inverse-extreme-color: #000;
}