
.smartyAddress__spacing_medium {
    --smartyAddress__spacing_small_1: 2px;
    --smartyAddress__spacing_small_2: 5px;
    --smartyAddress__spacing_small_3: 8px;
    --smartyAddress__spacing_medium_1: 12px;
    --smartyAddress__spacing_medium_2: 17px;
    --smartyAddress__spacing_medium_3: 20px;
    --smartyAddress__spacing_large_1: 25px;
    --smartyAddress__spacing_large_2: 32px;
    --smartyAddress__spacing_large_3: 40px;
}