@import "base.css";
@import "colors.css";
@import "spacing.css";

.smartyAddress__suggestionsWrapperElement {
    position: var(--smartyAddress__wrapper-position);
    z-index: 1000;
    font-weight: normal;
}

.smartyAddress__hidden {
    display: var(--smartyAddress__hidden-display);
}

.smartyAddress__dropdownElement {
    position: var(--smartyAddress__dropdown-position);
    box-sizing: var(--smartyAddress__box-sizing);
    width: var(--smartyAddress__dropdown-width);
    box-shadow: 0 12px 24px 0 rgba(4, 34, 75, 0.10), 0 20px 40px 0 rgba(21, 27, 35, 0.06);
    color: var(--smartyAddress__text-base-primary-color);
    background-color: var(--smartyAddress__surface-base-primary-color);
}

.smartyAddress__suggestionsElement {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 500px;
    scrollbar-color: var(--smartyAddress__surface-base-primary-inverse-color) var(--smartyAddress__surface-base-primary-color);
    scrollbar-width: thin;
}

.smartyAddress__suggestion {
    cursor: var(--smartyAddress__cursor-style);
    padding: var(--smartyAddress__spacing_medium_3);
    color: var(--smartyAddress__text-base-primary-color);
    background-color: var(--smartyAddress__surface-base-primary-color);
    display: flex;
    justify-content: space-between;
}

.smartyAddress__suggestion:hover,
.smartyAddress__suggestion[aria-selected="true"] {
    background-color: color-mix(in srgb, var(--smartyAddress__surface-base-primary-color)  var(--smartyAddress__color-mix-percentage), var(--smartyAddress__surface-inverse-extreme-color));
}

.smartyAddress__suggestionEntries {
    color: var(--smartyAddress__text-accent-color, #0066ff);
}

.smartyAddress__poweredBy {
    color: var(--smartyAddress__text-base-secondary-color);
    margin: 0;
    padding: var(--smartyAddress__spacing_medium_3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .75em;
    gap: 8px;
    text-transform: uppercase;
}

.smartyAddress__smartyLogo {
    height: 2.5em;
}