@import "colors.css";

.smartyAddress__suggestionsElement {
    border-color: var(--smartyAddress__stroke-base-primary-color);
    background-color: var(--smartyAddress__surface-base-primary-color);
}

.smartyAddress__suggestion {
    color: var(--smartyAddress__text-base-primary-color);
}

.smartyAddress__suggestion:hover {
    background-color: var(--smartyAddress__surface-base-secondary-color);
}

.smartyAddress__poweredBy {
    color: var(--smartyAddress__text-accent-color);
}